.boardPlay {
  grid-row-start: c;
  grid-column-start: c;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  padding: 10px;
  margin: 5px auto 5px auto;
  min-width: 400px;
  min-height: 400px;
}

.boardPlay.disabled {
  display: none;
}
