.east {
  grid-column: e;
  grid-row: span 3;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 20px 20px 20px 20px;
  height: 100%;
}

.east .play {
  margin: 0 0 0 0;
  z-index: 1;
  width: 80px;
  align-self: center;
}

.east .title {
  background-color: gray;
  height: 100%;
  width: 40px;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: gray;
  margin: 10px 0 10px -10px;
}

.east .title span {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 25px 5px 25px 5px;
  font-size: 18px;
}

.column {
  display: inline-block;
}
