.boardInput {
  display: grid;
  margin: 5%;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  height: 200px;
  overflow-y: auto;
}

.boardBidInput {
  height: 40px;
  font-size: 18px;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
}

.newRow {
  grid-column-start: 1;
}

.disabled {
  border-color: gray;
}
